@model Common.DataTransferObjects.ErrorLog.ErrorLogDetail
@{ 
    ViewData["title"] = "Error Log Details";
}

<div class="card card-default">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <ul class="list-unstyled">
                    <li><span class="font-weight-bold">Error ID: </span> @Model.ErrorLogId</li>
                    <li><span class="font-weight-bold">Stack Trace ID: </span> @Model.StackTraceId</li>
                    <li><span class="font-weight-bold">Error Message: </span> @Model.Message</li>
                    <li><span class="font-weight-bold">Stack Trace: </span> @Model.StackTrace</li>
                    <li><span class="font-weight-bold">Route: </span> @Model.Path</li>
                    <li><span class="font-weight-bold">Error Date: </span> @Model.DateCreated</li>
                    <li><span class="font-weight-bold">Source: </span> @Model.Source</li>
                    <li><span class="font-weight-bold">User Identity: </span> @Model.UserIdentity</li>
                    <li><span class="font-weight-bold">Build Version: </span>  @Model.BuildVersion</li>
                </ul>
            </div>
        </div>
    </div>
</div>


