@model WebApp.Models.Receipt.ReceiptVM;

<div class="container-fluid">
    <div class="row">
        <a id="btnBackToDashboard" href="@Url.ActionLink("Index", "Home")" class="btn btn-link btn-md btn-success text-white">Back to Dashboard</a>
    </div>
    <div class="row">
        <div class="mx-auto">
            <div class="col-md-12">
                <div class="row justify-content-center"><span class="h5" id="spanStoreName"></span></div>
                <div class="row"><span class="" id="spanStoreAddress">@Model.StoreAddress</span></div>
                <div class="row">
                    <span class="text-sm">Order ID: <span class="text-bold" id="spanOrderId">@Model.OrderId</span></span>
                </div>
                <div class="row">
                    <span class="text-sm">Cashier: <span class="text-bold" id="spanCashierName">@Model.CashierName</span></span>
                </div>
                <div class="row">
                    <span class="text-sm">Date: <span class="text-bold">@DateTime.UtcNow.ToString("MMMM dd, yyyy H:m")</span></span>
                </div>
                <div class="row table-responsive">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Qty</th>
                                <th>Description</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyOrderItemList">
                            @*<tr>
                                <td>@item.Quantity</td>
                                <td>@item.ProductName</td>
                                <td>₱@item.ProductPrice</td>
                            </tr>*@
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2">Total Amount:</td>
                                <td id="tdTotalAmount">₱ @Model.TotalAmount</td>
                            </tr>
                            <tr>
                                <td colspan="3"><button type="button" class="btn btn-block btn-success">Print</button></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
@*    <script src="~/lib/datatables/js/datatables.min.js"></script>
    <script src="~/js/application/Order.js"></script>*@
}