@model WebApp.Models.Cart.CartVM

@section Styles
{
    @*<link href="~/lib/datatables/css/datatables.min.css" rel="stylesheet" />*@
}

@if (Model == null || !Model.OrderItemList.Any())
    return;


<div class="container-fluid">
    <div class="row">
        <button id="btnBackToDashboard" class="btn btn-md btn-success">Back to Dashboard</button>
    </div>
    <div class="row">
        <div class="mx-auto">
            <div class="col-md-12">
                <div class="row justify-content-center"><span class="h5">@Model.StoreName</span></div>
                <div class="row"><span class="">@Model.StoreAddress</span></div>
                <div class="row">
                    <span class="text-sm">Order ID: <span class="text-bold">@Model.OrderId</span></span>
                </div>
                <div class="row">
                    <span class="text-sm">Cashier: <span class="text-bold">@Model.CashierName</span></span>
                </div>
                <div class="row">
                    <span class="text-sm">Date: <span class="text-bold">@DateTime.UtcNow.ToString("MMMM dd, yyyy H:m")</span></span>
                </div>
                <div class="row table-responsive">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Qty</th>
                                <th>Description</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OrderItemList)
                            {
                                <tr>
                                    <td>@item.Quantity</td>
                                    <td>@item.ProductName</td>
                                    <td>₱ @item.ProductPrice</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2">Total Amount:</td>
                                <td>₱ @Model.TotalAmount</td>
                            </tr>
                            <tr>
                                <td colspan="3"><button type="button" class="btn btn-block btn-success">Print</button></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
@*    <script src="~/lib/datatables/js/datatables.min.js"></script>
    <script src="~/js/application/Order.js"></script>*@
}