@model List<WebApp.Models.Store.StoreVM>


<li class="nav-item d-none d-sm-block">
    <a class="nav-link btn-link" href="" id="icon_cart">
        <em class="fa fa-shopping-cart"></em>
        <span class="badge badge-danger navbar-badge" id="span_count_cart_items"></span>
    </a>
</li>

@if (Model != null && Model.Any())
{

    <li class="nav-item d-none d-l-block">
        <a class="nav-link">
            <em class="fa fa-store"></em><span class="badge badge-danger navbar-badge">
                @{
                        int storeCount = Model.Count() - 1;
                }
                @storeCount
                </span>
        </a>
        <div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
                @foreach (var store in Model.Where(x => x.IsSelected != true).OrderBy(x => x.Name))
                {
                    <button type="button" class="dropdown-item store_names btn-link" 
                    data-store-id="@store.Id"
                    data-store-name="@store.Name"
                    data-store-price="@store.Address">@store.Name</button>
                }
        </div>
    </li>
    <li class="nav-item d-none d-lg-block">
        <a class="nav-link" href="#">
            @if (Model.Any(x => x.IsSelected == true))
            {
                @Model.FirstOrDefault(x => x.IsSelected == true).Name;
                <input type="hidden" value="@Model.FirstOrDefault(x => x.IsSelected == true).Id" id="current_storeid_selected" />
            }
            else 
            {
                @Model.First().Name;
            }
        </a>
    </li>
}