@using Common.Constants;
@using WebApp.Extensions;

@*@{
    List<string> applicationRoleNames = User.ApplicationRoleName();
}*@

<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        @*@if (applicationRoleNames.Any(rn => rn == RoleConstant.Support))
        {
        <li class="nav-item menu-open">
        <a href="#" class="nav-link">
        <em class="nav-icon fas fa-tachometer-alt"></em>
        <p>
        Monitoring
        <em class="fas fa-angle-left right"></em>
        </p>
        </a>
        <ul class="nav nav-treeview">
        <li class="nav-item">
        <a href="@Url.Action("Search", "Error")" class="nav-link">
        <em class="far fa-circle nav-icon"></em>
        <p>Error Log</p>
        </a>
        </li>
        </ul>
        </li>
        }*@
        <li class="nav-item menu-open">
            <a href="@Url.Action("Index","Home")" class="nav-link">
                <i class="nav-icon fas fa-book"></i>
                <p>
                    Dashboard
                </p>
            </a>
        </li>
        <li class="nav-item mb-1" style="border-bottom: 1px solid #4f5962">
            <a href="@Url.Action("Orders","Home")" class="nav-link">
                <i class="nav-icon fas fa-list"></i>
                <p>
                    Orders
                </p>
            </a>
        </li>
        <li class="nav-item mt-2">
            <a href="@Url.Action("Products","Home")" class="nav-link">
                <i class="nav-icon fas fa-check"></i>
                <p>
                    Products
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Stores","Home")" class="nav-link">
                <i class="nav-icon fas fa-store"></i>
                <p>
                    Stores
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Expenses","Home")" class="nav-link">
                <i class="nav-icon fas fa-money-bill"></i>
                <p>
                    Expenses
                </p>
            </a>
        </li>
    </ul>
</nav>